@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./img/5_background/desert-5112222.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin: 0;
}

* {
  font-family: "Rye", sans-serif;
}

canvas {
  background-color: black;
  position: relative;
  display: block;
}

#start {
  position: absolute;
  top: 40%;
}

button {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 2px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  color: #fff;
  cursor: pointer;
  background-color: lightgreen;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

button:hover {
  border: 2px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 1px #427388;
}

#pause {
  position: absolute;
  top: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#pause-restart {
  background-color: rgb(238, 69, 69);
}

.keys {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
}

.key p {
  text-align: center;
}

.button {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 3px 3px 0px black;
  z-index: 100;
  justify-self: center;
  align-self: center;
  width: fit-content;
}

#movement {
  position: absolute;
  bottom: 15px;
  left: 15px;
  flex-direction: column;
  display: none;
}

#movement button {
  display: flex;
  height: 48px;
  width: 48px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

#movement button img {
  height: 32px;
  width: 32px;
}

.row {
  display: flex;
  flex-direction: row;
  height: 64px;
}

.row button {
  margin-left: 30px;
}

.row-2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#options {
  position: absolute;
  display: none;
  bottom: 15px;
  right: 15px;
}

.turn-device {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.device {
  height: 64px;
  width: 64px;
  object-fit: contain;
  animation-name: turn;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#mute {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 13%;
  right: 17%;
  outline: none;
  padding: 0;
  width: max-content;
}

#mute:hover {
  border: none;
  box-shadow: none;
}

#mute img {
  height: 32px;
  width: 32px;
  object-fit: contain;
}

@keyframes turn {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(90deg);
  }
}

@media only screen and (min-width: 760px) {
  #movement,
  #options {
    display: none !important;
  }
}

@media only screen and (max-width: 760px) {
  canvas {
    display: none;
  }
  .turn-device {
    display: flex;
  }

  #options {
    display: none !important;
  }

  #pause {
    display: none !important;
  }

  #start,
  #movement {
    display: none !important;
  }

  .keys {
    display: none !important;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}

@media (orientation: landscape) and (max-height: 480px) {
  canvas {
    display: block;
    height: 100vh;
    width: 100%;
    position: relative;
  }
  body {
    background-image: none;
    margin: 0;
  }
  .keys,
  h1 {
    display: none;
  }

  .movement {
    display: flex;
  }

  .options {
    display: block;
  }

  .turn-device {
    display: none;
  }
}
